.nav {
    background-color: #2a7cbb;
    color: azure;
    height: 70px;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    list-style: none;
    margin-right: 1rem;

    display: flex;
}

.links li {
    height: 70px;
    padding: 0.25rem;

    display: flex;
    align-items: center;
}

.links a:hover {
    color: #57cbee;
    transition: 300ms;
}

.logo {
    margin-left: 40px;
}

.logo:hover {
    transform: rotate(-1deg);
    transition: 100ms;
}
